.background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-image: url("../../../assets/images/background-signup.jpg");
    height: calc(100vh - var(--headerHeight));
}


.form_login {
  width: 340px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.35); /* mais transparente */
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37); /* sombra mais difusa */
  padding: 30px 25px;
  font-family: 'Segoe UI', sans-serif;
  backdrop-filter: blur(8px); /* efeito vidro mais forte */
  -webkit-backdrop-filter: blur(8px); /* compatibilidade com Safari */
  border: 1px solid rgba(255, 255, 255, 0.18); /* borda mais sutil */
}

h1 {
  color: var(--cor-primaria);
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

label {
  color: var(--cor-texto);
  font-size: 15px;
  font-weight: 700;
}

app-input-text {
  border: none;
  border-radius: 5px;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.field-error {
  display: inline-flex; 
  flex-direction: column;
  color: #000;
  color: #ff4d4f;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 8px;
  margin-top: 4px;
  border-radius: 4px;
  background: rgba(255, 0, 0, 0.5);
  background: rgba(255, 0, 0, 0.02);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  max-width: max-content; 
  white-space: nowrap; 
}

app-button {
  background-color: var(--cor-primaria);
  color: var(--cor-link);
  border: none;
  border-radius: 10px;
  padding: 10px 2px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

app-button:hover {
  background-color: var(--cor-secundaria);
}


button[type="submit"] {
  background-color: #5f7552;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 12px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


button[disabled] {
  background-color: #809671;
  cursor: not-allowed;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 10px;
  text-align: center;
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  transition: color 0.3s ease;
  cursor: pointer;
}

a:hover {
  color: var(--cor-hover);
  text-decoration: underline;
}