<div id="body">

    <!--
    <div class="swiper progress-slide-carousel swiper-container relative" #carouselContainer>
        <div class="swiper-wrapper">
            <div class="swiper-slide">
            <div class="bg-indigo-50 rounded-2xl h-96 flex justify-center items-center">
                <span class="text-3xl font-semibold text-indigo-600">Slide 1<p>a</p><p>b</p></span>
            </div>
            </div>
            <div class="swiper-slide">
            <div class="bg-indigo-50 rounded-2xl h-96 flex justify-center items-center">
                <span class="text-3xl font-semibold text-indigo-600">Slide 2</span>
            </div>
            </div>
            <div class="swiper-slide">
            <div class="bg-indigo-50 rounded-2xl h-96 flex justify-center items-center">
                <span class="text-3xl font-semibold text-indigo-600">Slide 3</span>
            </div>
            </div>
        </div>
        <div class="swiper-pagination !bottom-2 !top-auto !w-80 right-0 mx-auto bg-gray-100"></div>
    </div> -->

    <div class="snap-container">
        <!-- COMPONENTES DA SEÇÕES -->
        <!-- seção sobre nós -->
        <app-about-aurora></app-about-aurora>
        <app-rooms-section></app-rooms-section>
    </div>

</div>
