#sidenav {
  background-color: var(--almostWhite);
  height: 100%;
}

.sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  padding: 15px;
}

.botao-container {
  display: inline-block;
  max-width: 100%;
}

.botao-limitado {
  display: inline-block;
  max-width: 230px; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidenav-heading {
  padding-left: 10px;
}

.sidenav-links {
  display: flex;
  flex-direction: column;
}

.sidenav-links a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  padding: 0 10px;
  color: var(--mediumGray);
  height: 45px;
  margin: 5px 0;
}

.sidenav-links p {
  font-size: 1.15em;
}

.sidenav-links a mat-icon {
  color: var(--mediumGray);
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidenav-links a:hover, .sidenav-links a:hover mat-icon {
  color: var(--darkBrown);
}

.sidenav-login {
  background-color: var(--white);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
}

.sidenav-login a {
  text-decoration: none;
}

.close {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.25s;
}


@media (max-width: 330px) {
  
    .sidenav-login {
      padding-right: 50px;
    }   
}
