.background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-image: url("../../assets/images/background-signup.jpg");
    height: calc(100vh - var(--headerHeight));
}

.container {
    width: auto;
    height: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message {
    width: auto;
    height: 50px;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    background-color: white;
}

p {
    font-size: 20px;
    font-weight: 800;
}