<!--<div class="container">-->
<!--  <div class="content-container">-->
<!--    <a routerLink="/admin/dashboard/funcionarios/novo">-->
<!--      <app-button label="Cadastrar Novo Funcionário" icon="add"></app-button>-->
<!--    </a>-->


<!--  @if (isLoading) {-->
<!--    <p class="loading-message">Carregando...</p>-->
<!--  } @else {-->
<!--    <app-dashboard-table-->
<!--      title="Painel de Funcionários"-->
<!--      [data]="listaDeFuncionarios"-->
<!--      [visibleColumns]="colunasVisiveis"-->
<!--      [columnNames]="nomesDasColunas"-->
<!--      [showActions]="true"-->
<!--      (editAction)="handleView($event)"-->
<!--      (deleteAction)="handleDelete($event)">-->
<!--    </app-dashboard-table>-->
<!--  }-->
<!--</div>-->
<!--</div>-->


<div class="clean-card">

  <div class="dashboard-header">
    <h2 class="dashboard-title">Painel de Funcionários</h2>

    <a routerLink="/admin/dashboard/funcionarios/novo">
      <app-button label="Cadastrar Novo Funcionário" icon="add"></app-button>
    </a>
  </div>

  <div class="dashboard-content">
    @if (isLoading) {
      <p class="loading-message">Carregando painel de funcionários...</p>
    } @else {
      <app-dashboard-table
        [data]="listaDeFuncionarios"
        [visibleColumns]="colunasVisiveis"
        [columnNames]="nomesDasColunas"
        [showActions]="true"
        (editAction)="handleView($event)"
        (deleteAction)="handleDelete($event)">
      </app-dashboard-table>
    }
  </div>

</div>
