.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  background-color: white;
}

.espaco-secao {
  display: flex;
  flex-direction: column;
  width: 100vw;
}
