.background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-image: url("../../assets/images/background-signup.jpg");
    height: calc(100vh - var(--headerHeight));
}

.container {
    width: auto;
    height: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-login {
    width: auto;
    height: auto;
    padding: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
}

.content {
    gap: 5px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

h1 {
    color: black;
    margin-bottom: 60px;
}

label {
    color: black;
    font-size: 20px;
}