.background {
    display: flex;
    justify-content: center;
    background-color: #809671;
}

.container {
    width: 30vw;
    display: flex;
    padding: 30px;
    align-items: center;
    height: calc(100vh - var(--headerHeight) - 60px);
}

#container-login {
    flex: 75%;
    gap: 15px;
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
}

.content {
    gap: 5px;
    display: flex;
    flex-direction: column;
}

h1 {
    color: black;
    margin-bottom: 60px;
}

label {
    color: black;
    font-size: 20px;
}