#header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: var(--headerHeight);
    width: 100vw;
    background: var(--white);
    z-index: 9999;
    border-bottom: 1px solid var(--almostWhite);
}

.header-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px; 
}

.header-content button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header-content button mat-icon {
    font-size: 27px;

}