<div id="header">

    <div class="header-content">

        <button class="menu" (click)="onMenuClick()" aria-label="Abre o menu de opções">
            <mat-icon>menu</mat-icon>
        </button>

        <img src="../../assets/logo/LOGO.png" class="logo">
        <!-- <button aria-label="Logo do Hotel">
            <mat-icon>hotel_class</mat-icon>
        </button> -->

      @if (isLoggedIn) {
        <button (click)="onCartClick()" aria-label="Sair">
          <mat-icon>logout</mat-icon>
        </button>
      } @else {
        <button style="cursor: default">
          <mat-icon></mat-icon>
        </button>
      }

    </div>

</div>
