 <div class="hero-video">
        <video id="bg-video" autoplay muted loop playsinline>
            <source src="assets/videos/video_page_aurora_2.mp4" type="video/mp4">
            Seu navegador não suporta a tag de vídeo.
        </video>

        <div class="hero-content">
            <h1>AURORA</h1>
            <p>Respire. Sinta. Viva.<br><br>
                No Aurora, cada amanhecer é uma promessa de<br>
                momentos inesquecíveis em harmonia com a natureza.
            </p>
            <!-- <div class="hero-mouse-icon" (click)="rolarPara(secaoDeConteudo)">
                <img src="assets/images/mouse-scroll-down-icon.png" alt="Role para baixo" style="cursor: pointer;">
            </div> -->
         </div>
    </div>