.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 40px 20px;
  background-color: #809671;
  color: white;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.footer-section {
    text-align: center;
    padding: 10px;

    line-height: 1.5;
}

.footer-section.sobre h4 {
    text-align: center;
    
}

.footer-section.sobre p {
    text-align: center;
    
}

.footer-section h4 {
    text-align: center;
}

.footer-section ul {
    text-align: center;
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section p { 
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.footer-section p a {
    color: white;
    margin-bottom: 5px;
    align-items: center;
    transition: color 0.3s;
    justify-content: center;
    text-decoration: none;

}

.footer-section ul li a:hover, .footer-section p a:hover {
    color: black;
}

.footer-bottom {
    color: white;
    padding: 5px;
    text-align: center;
    background-color: #93aa83;
    
}

@media (max-width: 940px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 540px) {
  .footer-container {
    grid-template-columns: 1fr;
    padding: 40px 50px; 
  }
}

@media (max-width: 425px) {
  .footer-container {
    padding: 40px 20px; 
  }
}