<div class="footer-container">
    <div class="footer-section">
        <h4>Contatos</h4>
        <p>Telefone: (00) 12346-7890</p>
        <p>Email: contato@auroraHotel.com</p>
        <p>Endereço: Rua Aurora, 000 - São Paulo, SP</p>
    </div>

    <div class="footer-section">
        <h4>Links</h4>
        <ul>
            <li><a href="sobre">Sobre Nós</a></li>
            <li><a href="app-rooms">Acomodações</a></li>
            <li><a href="ajuda">Contato</a></li>
        </ul>
    </div>

    <div class="footer-section">
        <h4>Siga-nos</h4>
        <p>
            <a href="https://www.linkedin.com/login/pt?fromSignIn=true&trk=guest_homepage-basic_nav-header-signin">LinkedIn</a>
            <a href="https://pt-br.facebook.com/login/device-based/regular/login/">Facebook</a>  
            <a href="https://www.instagram.com/accounts/login/">Instagram</a>
        </p>
    </div>

</div>

<div class="footer-bottom">
    <p>&copy; 2025 Aurora. Todos os direitos reservados.</p>
</div>