<div class="hero-video">
    <video id="bg-video" autoplay muted loop playsinline>
        <source src="assets/videos/video_page_aurora.mp4" type="video/mp4">
        Seu navegador não suporta a tag de vídeo.
    </video>

    <div class="hero-content">
        <h1>AURORA</h1>
        <p>Respire. Sinta. Viva.<br><br>
            No Aurora, cada amanhecer é uma promessa de<br>
            momentos inesquecíveis em harmonia com a natureza.
        </p>
        <p><a routerLink="/home">HOME</a></p>
    </div>
</div>