.hero-video {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
}

.hero-video::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(114, 92, 58, 0.15);
    z-index: 0;
}

#bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero-content {
    color: white;
    z-index: 1;
    text-align: center; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-content h1 {
    color: rgba(255, 255, 255, 0.243);
    font-family: var(--montrealr);
    font-size: 8rem;
    letter-spacing: -12px;
    filter: blur(12px);
    transition: ease-in-out 0.75s;
    line-height: .75;
    margin: auto;
}

.hero-content h1:hover {
    color: white;
    filter: blur(0px);
}

.hero-content .slogan{
    font-family: var(--csamerta);
    font-size: 1rem;
    padding-top: 10px;
}

.hero-content .descricao{
  font-size: 1rem;
  margin-top: -10px;
}

.hero-content p {
    font-family: 'Raleway', cursive;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5;
    text-shadow: 0px 0px 8px #372a1e;
}

.hero-mouse-icon {
    position: absolute;
    bottom: 20px;
    width: 55px;
    filter: invert();
    animation-name: mouse-icon-motion;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes mouse-icon-motion {
    0% { bottom: 10px }
    25% { bottom: 22px }
    50% { bottom: 10px }
    50% { bottom: 10px }
    75% { bottom: 10px }
    100% { bottom: 10px }
}


.container {
    background-color: var(--componentOdd);
}

.container-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.container-content .title h1 {
    font-size: 3.25em;
    font-weight: 300;
    line-height: 1;
    text-align: center;
}

.container-content .description {
    max-width: 700px;
    padding: 0px 15px;
}

.container-content .description p {
    font-size: 1.1rem;
    line-height: 2;
    text-align: center;
}

.description-second {
    width: 100vw;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
}

.description-second p {
    font-size: 1.1rem;
    line-height: 2;
    padding: 40px 15px;
    text-align: center;
    max-width: 700px;
}

.container-content .social-proof p {
    font-size: 1rem;
    line-height: 2;
    text-align: center;
    font-style: italic;
}


@media (max-width: 550px) {
  .description-second {
    height: 100%;
  }
}


@media (max-width: 550px) {
  .hero-content h1 {
    font-size: 7rem;
  }
}

@media (max-width: 440px) {
  .hero-content h1 {
    font-size: 6rem;
  }

  .hero-content p {
    padding: 0 60px;
  }

  .social-proof{
    padding: 0 10px;
  }
}

@media (max-width: 360px) {
  .hero-content h1 {
    margin-top: 40px;
    font-size: 5rem;
  }

  .hero-content p span{
    font-size: 1.6rem;
  }
}



