<div class="background">
    <div class="container">
        <div class="container-buttons">

            <h1>Criar uma conta</h1>

            <div class="buttons">
                <div class="area-button">
                    <button class="circle-btn" routerLink="/account/register/pf">
                        <img src="../../../assets/images/pessoaFisica.jpg" alt="PF">
                    </button>
                    <p>Pessoa Física</p>
                </div>

                <div class="area-button">
                    <button class="circle-btn" routerLink="/account/register/pj">
                        <img src="../../../assets/images/pessoaJuridica.png" alt="PJ">
                    </button>
                    <p>Pessoa Jurídica</p>
                </div>
            </div>
        </div>
    </div>
</div>
