.hero-video {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
}

.hero-video::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(114, 92, 58, 0.15);
    z-index: 0;
}

#bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero-content {
    color: white;
    z-index: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-content h1 {
    color: rgba(255, 255, 255, 0.243);
    font-family: 'montreal-regular';
    font-size: 8rem;
    letter-spacing: -12px;
    filter: blur(12px);
    transition: ease-in-out 0.75s;
}

.hero-content h1:hover {
    color: white;
    filter: blur(0px);
}

.hero-content p {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.5;
    text-shadow: 0px 0px 8px #372a1e;
}

.hero-mouse-icon {
    position: absolute;
    bottom: 20px;
    width: 55px;
    filter: invert();
    animation-name: mouse-icon-motion;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes mouse-icon-motion {
    0% { bottom: 10px }
    25% { bottom: 22px }
    50% { bottom: 10px }
    50% { bottom: 10px }
    75% { bottom: 10px }
    100% { bottom: 10px }
}

.content-section {
    padding: 20px 20px;
}