<div class="admin-layout-minimal">
  <header class="minimal-header">
    <div class="header-left">
      <p class="logo">Aurora Resort</p>
      <h2 class="title">Painel de Administração</h2>
    </div>
    <button class="logout-btn" (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Sair</span>
    </button>
  </header>

  <aside class="minimal-sidebar">
    <nav class="sidebar-nav">
      <a class="nav-item" [routerLink]="['dashboard/clientes']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <mat-icon>group</mat-icon>
        <span>Clientes</span>
      </a>
      <a class="nav-item" [routerLink]="['dashboard/funcionarios']" routerLinkActive="active">
        <mat-icon>badge</mat-icon>
        <span>Funcionários</span>
      </a>
      <a class="nav-item" [routerLink]="['dashboard/reservas']" routerLinkActive="active">
        <mat-icon>book_online</mat-icon>
        <span>Reservas</span>
      </a>
      <a class="nav-item" [routerLink]="['dashboard/espacos-comuns']" routerLinkActive="active">
        <mat-icon>deck</mat-icon>
        <span>Espaços Comuns</span>
      </a>
      <a class="nav-item" [routerLink]="['dashboard/instalacoes-alugaveis']" routerLinkActive="active">
        <mat-icon>store</mat-icon>
        <span>Alugáveis</span>
      </a>
      <a class="nav-item" [routerLink]="['dashboard/hoteis']" routerLinkActive="active">
        <mat-icon>apartment</mat-icon>
        <span>Hotéis</span>
      </a>
<!--      <a class="nav-item" [routerLink]="['dashboard/configuracoes']" routerLinkActive="active">-->
<!--        <mat-icon>settings</mat-icon>-->
<!--        <span>Configurações</span>-->
<!--      </a>-->
    </nav>
  </aside>

  <main class="minimal-content">
    <router-outlet></router-outlet>
  </main>
</div>
