<section class="conference-section">
  <div class="titulo">
    <div class="h1-container">
      <h1 class="animate__animated animate__fadeInUp">Sala de Conferência</h1>
    </div>

    <div class="imagem-destaque">
      <img
        src="assets/images/conference-room/salareuniaobanner.webp"
        alt="Imagem da sala de conferência"
      />
    </div>
  </div>

  <div class="background-row bg-white-full-width">
    <div class="card-container content-wrapper">
      <mat-card class="card" *ngFor="let card of conferenceCards">
        <img mat-card-image [src]="card.imageSrc" [alt]="card.imageAlt" />
        <mat-card-content>
          <h3>{{ card.title }}</h3>
          <p>{{ card.description }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <ng-container *ngFor="let section of contentSections; let i = index">
    <div
      class="background-row"
      [ngClass]="{
        'bg-odd-full-width': i % 2 === 0,
        'bg-white-full-width': i % 2 !== 0
      }"
    >
      <div
        class="text-image-row content-wrapper"
        [ngClass]="{ 'is-reverse': section.reverseLayout }"
      >
        <div class="text">
          <h4>{{ section.title }}</h4>
          <p>{{ section.text }}</p>
        </div>
        <div class="image">
          <img [src]="section.imageSrc" [alt]="section.imageAlt" />
        </div>
      </div>
    </div>
  </ng-container>
</section>
