*{
  margin: 0;
}

.conference-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background-color: var(--neve);
}

.titulo {
  position: relative;
  width: 100%;
  max-width: 100%;
}

.h1-container {
  position: absolute;
  width: 100%;
  padding: 80px 0px;
  background-color: rgba(255, 255, 255, 0.5); 
  text-align: center;
}

.h1-container h1 {
  margin: 0;
  font-weight: 500;
  font-family: var(--montrealr);
  color: white;
  font-size: 2.5rem;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}

.imagem-destaque img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  text-align: center;
  background-color: #f8f8f8;
  border-radius: 8px;
  padding: 20px;
  margin: 50px 0px;
  transition: transform 0.5s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 15px;
}

.card h3 {
  font-size: 20px;
  margin-bottom: 10px;
  font-family: var(--montrealr);
}

.card p {
  font-size: 0.9rem;
  color: #555;
}

/* Texto e imagem lado a lado */
.text-image-row {
  display: flex;
  align-items: center;
  gap: 40px;
  width: 90%;
  margin-bottom: 40px;
}


.text-image-row.reverse {
  display: flex;
  align-items: center;
  gap: 40px;
  width: 90%;
}


.text {
  flex: 1;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.text h4 {
  font-size: 22px;
  margin-bottom: 50px;
  font-family: var(--montrealr);
}

.text p {
  font-size: 16px;
  color: #444;
  max-width: 800px;
}

.image {
  flex: 1;
}

.image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

@media (max-width: 800px) {
  .text-image-row {
    margin-top: 50px;
    flex-direction: column-reverse;
  }

  .reverse{
    flex-direction: column;
  }
}

@media (max-width: 689px) {
    .card {
      width: 290px;
    }
}

@media (max-width: 425px) {

  .card {
      margin: 20px 0px;
  }

  .titulo h1 {
      padding: 40px 0px;
      line-height: 1.3;
    }
  }


@media (max-width: 375px) {
    .card {
      width: 260px;
    }
}




