.conference-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 40px 20px;
  font-family: 'Segoe UI', sans-serif;
}

.imagem-destaque img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  text-align: center;
  background-color: #f8f8f8;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 15px;
}

.card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  color: #555;
}

/* Texto e imagem lado a lado */
.text-image-row {
  display: flex;
  align-items: center;
  gap: 40px;
  max-width: 1000px;
  width: 100%;
}


.text-image-row.reverse {
  display: flex;
  align-items: center;
  gap: 40px;
  max-width: 1000px;
  width: 100%;
}


.text {
  flex: 1;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.text h4 {
  font-size: 22px;
  margin-bottom: 50px;
}

.text p {
  font-size: 16px;
  color: #444;
  max-width: 800px;
}

.image {
  flex: 1;
}

.image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}