<div class="page-container">

  <div class="header-controls">
    <a routerLink="/admin/dashboard/hoteis" class="back-button">
      <mat-icon>arrow_back</mat-icon>
      Voltar para a lista
    </a>
  </div>

  <div class="content-wrapper">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <div class="form-section">
        <div class="section-header"><h2>Cadastrar Novo Hotel</h2></div>
        <div class="section-content">
          <div class="form-row">
            <div class="form-field">
              <label for="nome">Nome do Hotel</label>
              <input id="nome" formControlName="nome" type="text" placeholder="Ex: Paris Hilton Deluxe">
              @if (formulario.get('nome')?.invalid && formulario.get('nome')?.touched) {
                <div class="error-message">Nome é obrigatório (mín. 3 caracteres).</div>
              }
            </div>
          </div>
        </div>
        <div class="form-actions">
          <app-button label="Salvar Hotel" type="submit" icon="save" [disabled]="formulario.invalid" />
        </div>
      </div>
    </form>
  </div>

</div>
