<div class="clean-card">

  <div class="dashboard-header">
    <h2 class="dashboard-title">Painel de Clientes</h2>

    <mat-button-toggle-group [value]="mostrando" (change)="mudarFiltro($event.value)">
      <mat-button-toggle value="ativos">Ativos</mat-button-toggle>
      <mat-button-toggle value="inativos">Inativos</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="dashboard-content">
    @if (isLoading) {
      <p class="loading-message">Carregando painel de clientes...</p>
    } @else {
      <app-dashboard-table
        [data]="listaDeClientes"
        [visibleColumns]="colunasVisiveisParaAdmin"
        [columnNames]="nomesDasColunas"
        [showActions]="true"

        [showEditAction]="true"
        [showDeleteAction]="mostrando === 'ativos'"
        [showReactivateAction]="mostrando === 'inativos'"

        (editAction)="handleEdit($event)"
        (deleteAction)="handleDesativar($event)"
        (reactivateAction)="handleReativar($event)">
      </app-dashboard-table>
    }
  </div>

</div>
