.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 20px;
  gap: 10px;
  background-color: var(--white);
  border: 1px solid var(--lightGray);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.25s;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button p {
  font-size: 1.1em;
  font-weight: 600;
  color: var(--mediumGray);
}

.button:hover {
  background-color: var(--almostWhite);
}

/* Usamos o seletor :host() para aplicar estilos ao próprio <app-button> quando ele tem a classe */
:host(.disabled-button) button {
  background-color: #c5c5c5; /* Cor cinza, clássica para desabilitado */
  color: #666666;             /* Cor de texto mais clara */
  cursor: not-allowed;       /* Cursor de 'não permitido' */
  box-shadow: none;            /* Remove a sombra para parecer 'flat' */
}

/* Opcional: Para remover o efeito de hover quando estiver desabilitado */
:host(.disabled-button) button:hover {
  background-color: #c5c5c5;
}
