.background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-image: url("../../../assets/images/background-signup.jpg");
    height: calc(100vh - var(--headerHeight));
}

.container {
    display: flex;
    width: auto;
    height: auto;
}

.container-buttons {
    width: 600px;
    height: auto;
    padding: 50px;
    display: flex;
    gap: 50px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

h1 {
    color: black;
    margin-bottom: 70px;
}

.buttons {
    width: 100%;
    gap: 200px;
    display: flex;
    justify-content: center;
}

.circle-btn {
    display: flex;
    width: 150px;
    height: 150px;
    cursor: pointer;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s;
    background-color: #809671;
    border: none;
}

.circle-btn:hover {
    transform: scale(1.10);
}

.circle-btn img {
    width: 90%;
    height: 90%;
    border-radius: 50%;
}

p {
    color: black;
    font-size: 20px;
    margin-top: 30px;
    font-weight: 500;
    text-align: center;
}
