<div class="background">
    <div class="container">
        <div id="container-login">

            <h1>Login</h1>

            <div class="content">
                <label for="email">E-mail</label>
                <app-input-text id="email" type="text" name="email"></app-input-text>
            </div>

            <div class="content">
                <label for="password">Senha</label>
                <app-input-text id="password" type="password" name="password"></app-input-text>
            </div>

            <!-- Button -->
            <app-button label="Entrar"></app-button>

            <div class="links">
                <a routerLink="/forgot/password">Esqueceu sua senha ?</a>

                <a routerLink="/account/register" (click)="linkClicked.emit()">
                    Criar uma conta
                </a>
            </div>

        </div>
    </div>
</div>