input {
    width: 100%;
    height: 30px;
    height: 40px;
    padding: 5px;
    outline: none;
    font-size: 18px;
    font-family: inherit;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.2s, box-shadow 0.2s;
    padding: 20px 5px 20px 5px;
    box-sizing: border-box;
}

label {
  font-size: 15px;
    box-sizing: border-box;
}

input:focus {
    border-color: black;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
