.container {
  width: 80%;
  margin: 0 auto;
  padding: 24px;
}

 .infos input,
 .infos select {
  font-family: inherit;
  font-size: 14px;
  color: inherit;
  background: none;
  border: none;
  outline: none;
  margin: 0;
  padding: 4px 0;
  width: auto;
  min-width: 250px;
  overflow-x: auto;
  white-space: nowrap;
}

 .personal-info {
   display: flex;
   flex-direction: column;
   gap: 14px;
 }

.personal-info .name-and-edit,
.address-info .address-and-edit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

.personal-info .name-and-edit #name {
  font-size: 2em;
  font-weight: bold;
  width: 300px;
}

.personal-info .two-inputs-one-row > div,
.address-info .address-elements > div {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.address-info .address-elements .cep,
.address-info .address-elements .logradouro,
.address-info .address-elements .numero,
.address-info .address-elements .complemento,
.address-info .address-elements .bairro,
.address-info .address-elements .localidade,
.address-info .address-elements .uf {
  display: flex;
  flex-direction: column;
}

.personal-info .two-inputs-one-row > div > label,
.personal-info .cpfCnpj-and-edit > div > label,
.address-info .address-elements > div > label,
.address-info .address-elements .two-inputs-one-row label {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
}

.personal-info .two-inputs-one-row > div > label mat-icon,
.personal-info .cpfCnpj-and-edit > div > label mat-icon,
.address-info .address-elements > div > label mat-icon,
.address-info .address-elements .two-inputs-one-row label mat-icon {
  display: none;
  align-items: center;
  font-size: 15px;
  padding-left: 5px;
}

.personal-info .name-and-edit .name mat-icon {
  display: none;
  font-size: 25px;
  padding-left: 5px;
}

.personal-info .tel, .personal-info .email,
.personal-info .cpfCnpj {
  display: flex;
  flex-direction: column;
}

.personal-info .two-inputs-one-row,
.address-info .address-elements .two-inputs-one-row {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
}

.error-message {
  color: red;
  font-size: 10px;
  display: flex;
  flex-direction: column;
}

/*
  Aplica o estilo a qualquer <app-button> que tenha o atributo 'disabled'.
  É mais limpo e direto.
*/
app-button[disabled] {
  pointer-events: none;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

@media (max-width: 426px) {
  .personal-info .name-and-edit {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .personal-info .name-and-edit .name {
    margin-top: 15px;
  }

  .personal-info .two-inputs-one-row {
    flex-direction: column;
    gap: 20px;
  }

  .address-info .address-elements .two-inputs-one-row {
    flex-direction: column;
    gap: 20px;
  }

  .address-info .address-elements .uf {
    width: 330px;
  }

  .personal-info .two-inputs-one-row > div > label,
  .address-info .address-elements > div > label,
  .address-info .address-elements .two-inputs-one-row label {
    font-size: 14px;
  }

   .infos input,
  .infos select {
    font-size: 15px;
  }
}
