.background {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #809671;
    overflow: hidden;
    padding: 30px 0px 30px 0px;
}

.container {
    width: auto;
    padding: 40px 50px;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: black;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

h2 {
    text-align: left;
    margin-bottom: 10px;
    color: #444;
}

.group-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.group-email,
.group-password,
.group-address {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

label {
    text-align: left;
    font-weight: 500;
    color: #333;
}

.passwordRules {
    text-align: left;
    background-color: #f7f7f7;
    border-left: 4px solid #809671;
    border-radius: 6px;
    padding: 15px;
    color: #555;
    font-size: 13px;
    line-height: 1.5;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}