.background {
    background-image: url("../../assets/images/background-signup.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - var(--headerHeight));
}

.container {
    display: flex;
    flex-direction: row;
    padding: 30px;
    width: 70vw;
}

#flex1 {
    flex: 75%;
    height: calc(100vh - var(--headerHeight) - 100px);

    display: flex;
    align-items: center;
    justify-content: center;

    outline: 5px solid var(--almostWhite);
    outline-offset: -5px;
}

#flex2 {
    flex: 25%;
    background-color: var(--almostWhite);
    height: calc(100vh - var(--headerHeight) - 100px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0px 65px;
    width: 40vw;
    row-gap: 40px;
}



.texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
}

.title {
    font-family: var(--csamerta);
    color: white;
    font-size: 65px;
    font-weight: 500;
    text-align: right;
    line-height: 1;
    text-shadow: 0px 0px 15px var(--darkBrown);
}

.subtitle {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex;
    row-gap: 10px;
}

.buttons a {
    text-decoration: none;
}

