@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'csamerta-regular';
    src: url(assets/fonts/CSAmerta-Regular.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montreal-light';
    src: url(assets/fonts/MontrealLight.ttf);
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: 'montreal-regular';
    src: url(assets/fonts/MontrealLight.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montreal-thin';
    src: url(assets/fonts/MontrealThin.ttf);
    font-weight: thin;
    font-style: normal;
}

:root {
    --white: #ffffff;
    --MediumGray: #535353;
}

body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

html {
    scrollbar-width: none;
}

html, body { 
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    min-height: 100%; 
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: var(--white);
}
