<body>
  <section class="description">
    <div class="titulo">
      <h1 class="animate__animated animate__fadeInUp">Acomodações</h1>
      <p>
        Nosso estilo é contemporâneo e clássico, comodidades de alto padrão e o máximo conforto.
        Descubra as diversas categorias de suítes que o Aurora tem à sua disposição. Decorados com
        base no novo conceito de hospitalidade de puro luxo, tornando sua estada uma experiência
        única e exclusiva.
      </p>
    </div>
  </section>

  <div class="dependencies-container-lista">
    <article
      class="dependencies-card"
      *ngFor="let item of Cards; let i = index"
      [class.alternado]="i % 2 !== 0"
    >
      <div class="imagem-wrapper">
        <img [src]="item.imagemUrl" [alt]="item.titulo" />
      </div>
      <div class="conteudo-wrapper">
        <h3>{{ item.titulo }}</h3>
        <p>{{ item.descricao }}</p>
      </div>
    </article>
  </div>

  <!-- <section class="roomsCards">
    <mat-card *ngFor="let card of Cards">
      
      <img mat-card-image [src]="card.imagePath" alt="{{ card.description }}" />

      
      <mat-card-header>
        <mat-card-title>{{ card.title }}</mat-card-title>
      </mat-card-header>

      
      <mat-card-content>
        <div class="card-description">
          <p>{{ card.description }}</p>
        </div>
      </mat-card-content>
    </mat-card>
  </section> -->
</body>
