<body>
  <section class="description">
    <div class="titulo">
      <h1>Suítes</h1>
      <p>
        Nosso estilo é contemporâneo e clássico, comodidades de alto padrão e o máximo conforto.
        Descubra as diversas categorias de suítes que o Aurora tem à sua disposição. Decorados com
        base no novo conceito de hospitalidade de puro luxo, tornando sua estada uma experiência
        única e exclusiva.
      </p>
    </div>
  </section>
    
  <section class="roomsCards">
    <mat-card *ngFor="let card of Cards">
      <!-- Imagem -->
      <img mat-card-image [src]="card.imagePath" alt="{{ card.description }}" />

      <!-- Título -->
      <mat-card-header>
        <mat-card-title>{{ card.title }}</mat-card-title>
      </mat-card-header>

      <!-- Descrição -->
      <mat-card-content>
        <div class="card-description">
          <p>{{ card.description }}</p>
        </div>

        <div class="group-icons">
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="{{ card.oneIncluded }}"
          ></mat-icon>
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="{{ card.twoIncluded }}"
          ></mat-icon>
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="{{ card.threeIncluded }}"
          ></mat-icon>
        </div>
      </mat-card-content>

      <!-- Botão -->
      <!--<button mat-button class="reservation-button" (click)="reservation()">Reservar</button>-->
    </mat-card>
  </section>
</body>
