<!--<div class="container">-->
<!--  <div class="table-container mat-elevation-z8">-->
<!--    <div class="table-header">-->
<!--      <h1>{{ title }}</h1>-->
<!--      <mat-form-field appearance="outline">-->
<!--        <mat-label>Filtrar</mat-label>-->
<!--        <input matInput (keyup)="applyFilter($event)">-->
<!--        <mat-icon matSuffix>search</mat-icon>-->
<!--      </mat-form-field>-->
<!--    </div>-->

<!--    @if (dataSource.data.length > 0) {-->
<!--      <table mat-table [dataSource]="dataSource" matSort>-->

<!--        @for (coluna of visibleColumns; track coluna) {-->
<!--          <ng-container [matColumnDef]="coluna">-->
<!--            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ getColumnHeader(coluna) }}</th>-->
<!--            <td mat-cell *matCellDef="let item">{{ item[coluna] }}</td>-->
<!--          </ng-container>-->
<!--        }-->

<!--        @if (showActions) {-->
<!--          <ng-container matColumnDef="actions">-->
<!--            <th mat-header-cell *matHeaderCellDef> Ações </th>-->
<!--            <td mat-cell *matCellDef="let item">-->
<!--              <button mat-icon-button color="primary" matTooltip="Visualizar registro" (click)="onEdit(item)">-->
<!--                <mat-icon>visibility</mat-icon>-->
<!--              </button>-->
<!--              <button mat-icon-button color="primary" matTooltip="Editar registro" (click)="onEdit(item)">-->
<!--                <mat-icon>edit</mat-icon>-->
<!--              </button>-->
<!--              <button mat-icon-button color="warn" matTooltip="Excluir registro" (click)="onDelete(item)">-->
<!--                <mat-icon>delete_outline</mat-icon>-->
<!--              </button>-->
<!--            </td>-->
<!--          </ng-container>-->
<!--        }-->

<!--        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
<!--        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->

<!--        <tr class="mat-row" *matNoDataRow>-->
<!--          <td class="mat-cell" [attr.colspan]="displayedColumns.length">Nenhum dado encontrado para o filtro.</td>-->
<!--        </tr>-->
<!--      </table>-->

<!--      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>-->

<!--    } @else {-->
<!--      <p class="loading-message">Carregando dados ou nenhum registro encontrado...</p>-->
<!--    }-->
<!--  </div>-->

<!--</div>-->

<div class="table-container">

  <div class="table-header">
    <mat-form-field class="filter-field" appearance="fill">
      <mat-label>Filtrar registros</mat-label>
      <input matInput (keyup)="applyFilter($event)">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>


  @if (dataSource.data.length > 0) {
    <table mat-table [dataSource]="dataSource" matSort class="clean-table">

      @for (coluna of visibleColumns; track coluna) {
        <ng-container [matColumnDef]="coluna">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ getColumnHeader(coluna) }}</th>
          <td mat-cell *matCellDef="let item">{{ item[coluna] }}</td>
        </ng-container>
      }

      @if (showActions) {
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="actions-header"> Ações </th>
          <td mat-cell *matCellDef="let item" class="actions-cell">
            @if(showEditAction) {
              <button mat-icon-button class="table-button" matTooltip="Visualizar / Editar" (click)="onEdit(item)">
                <mat-icon>visibility</mat-icon>
              </button>
            }
            @if(showDeleteAction) {
              <button mat-icon-button class="table-button" color="warn" matTooltip="Excluir" (click)="onDelete(item)">
                <mat-icon>delete_outline</mat-icon>
              </button>
            }
          </td>
        </ng-container>
      }

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="displayedColumns.length">Nenhum dado encontrado para o filtro.</td>
      </tr>
    </table>

    <mat-paginator
      class="clean-paginator"
      [pageSizeOptions]="[5, 10, 25, 100]"
      showFirstLastButtons>
    </mat-paginator>

  } @else {
    <p class="loading-message">Carregando dados ou nenhum registro encontrado...</p>
  }
</div>
