.table-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.table-container {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  margin-top: 9vh;
  margin-left: 5vw;
  width: 85%;
}
