body {
    display: flex;
    height: auto;
    padding: 20px;
    justify-content: center;
    background-color: #b6c0af;
}

form {
    display: flex;
    gap: 30px;
    width: 50%;
    height: auto;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
}

fieldset {
    gap: 20px;
    width: 80%;
    height: auto;
}